<%- include('../partials/header'); %>
    <div class="row">
        <h1 style="text-align: center">Create a New Hotel</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/hotels" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Taj" required>
                </div>
                <div class="form-group">
                    <label for="starrating">Star Rating</label>
                    <input class="form-control" type="number" step="0.1" min="1" max="5" name="starrating" id="starrating" placeholder="4.0" required>
                </div>
                <div class="form-group">
                    <label for="image">Image Url</label>
                    <input class="form-control" type="text" name="image" id="image" placeholder="https://images.unsplash.com/..." required>
                </div>
                <div class="form-group">
                    <label for="cost">Cost</label>
                    <input class="form-control" type="number" name="cost" id="cost" placeholder="1000" step="1" min="0" required>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="Location" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description" placeholder="5- Star Hotel" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/hotels">Go Back</a>
        </div>
    </div>
<%- include('../partials/footer'); %>

